@font-face {
  font-family: 'Apollo';
  src: url(/media/assets/font/APOLLO.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: white;
}
body{
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}  
p{
  font-family: 'Apollo', sans-serif;
  color: black;
  padding-top: 20px;
  text-align: center;
}

/* NAV */

nav {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
  padding-left: 3%;
  padding-right: 3%;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo img{
  height: 150px;
  
}

/*  */

section{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
section ul li{
    list-style: none;

    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
section ul li.active{
    color: black;
}
section h1{
    font-size: 1.5rem;
    padding-bottom: 30px;
}
.art{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.art .itemBox{
    position: relative;
    width: 790px;
    height: 870px;
    margin: 5px;
    display: block;
}
.photoby{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.photoby:hover{
  opacity: 1;
}
.photoby h1{
  font-size: 45px;
  color: white;
  background-color: transparent;
}
.photoby > *{
  transform: translateY(25px);
  transition: transform 0.6s;
}
.photoby:hover > *{
  transform: translateY(0px);
}

.art .itemBox.active{
  position: relative;
  width: 335px;
  height: 335px;
  margin: 5px;
  display: block;
}

.art .itemBox.hide{
    display: none;
}

.art .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }
  
  .btn-color-1:hover {
    background: rgb(0, 0, 0);
  }
  
  .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  .btn-container {
    gap: 1rem;
  }