@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  .art .itemBox{
    position: relative;
    width: 103.5px;
    height: 103.5px;
    margin: 5px;
    display: block;
}
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 600px;
    height: 600px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .btn-container {
    flex-wrap: wrap;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .social-links{
    padding-top: 170px;
  }

  .art{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .art .itemBox{
      position: relative;
      width: 103.5px;
      height: 103.5px;
      margin: 5px;
      display: block;
  }
  .art .itemBox.hide{
      display: none;
  }
  .art .itemBox img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

}
