/* GENERAL */

@font-face {
  font-family: 'Apollo';
  src: url(./media/assets/font/APOLLO.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Apollo', sans-serif;
  background: url(./media/assets/HomePg.PNG) no-repeat;
  background-size: cover;
}



html {
  scroll-behavior: smooth;
}

p {
  color: white;
}

/* SECTIONS */

section {
  padding-top: 2vh;
  height: 90vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* PROFILE SECTION */

#profile {
  max-width: 90rem;
  margin: 0 auto;
  justify-content: center;
}

#profile p {
  position: relative;
  text-align: center;
}

.abouts{
  width: 230px;
  height:150px;
  cursor: pointer;
  background-image: url(./media/assets/aboutnon.PNG);
  background-size: cover;
}
.abouts:hover {
  background-image: url(./media/assets/aboutanim.GIF);
}
#profile a{
  width: 230px;
  height: 150px;
}

.nfts {
  width: 200px;
  height:150px;
  cursor: pointer;
  background-image: url(./media/assets/nonft.PNG);
  background-size: cover;
}
.nfts:hover {
  background-image: url(./media/assets/animnft.GIF);
}

.artworks {
  width: 200px;
  height:150px;
  background-image: url(./media/assets/artworknon.PNG);
  background-size: cover;
}
.artworks:hover{
  background-image: url(./media/assets/artworkanim.GIF);
}

.section__pic-container {
  justify-content: center;
  width: 825px;
  height: 710px;
  cursor: pointer;
  background-image: url(./media/assets/nonanim.PNG);
  background-size: cover;
}
.section__pic-container:hover{
  background-image: url(./media/assets/animated.GIF);
}

/* FOOTER */

footer {
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  color: #ffffff;
  z-index: 1030;
}
footer p {
  font-family: 'Apollo', sans-serif;
  background: transparent;
  padding: 40px 0;
  font-size: 20px;
}
footer div{
  background: transparent;
}
footer img{
  background: transparent;
  height: 20px;
  margin: 20px;
  cursor: pointer;
  filter: invert(1);
}
